
* {
    box-sizing: border-box;
    font-family: Inter, Segoe UI, Roboto, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 32px;
    background: rgba(255, 255, 255, 0.02);
    color: black;  
    font-family: Inter, sans-serif;
    background-image: url(https://wallpapercave.com/wp/wp7009877.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin-top: 0;
    color: black;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

h2 {
    margin-top: 0;
    color: black;
    font-size: 24px;
}

p.subtitle {
    color: black;
    margin-top: 4px;
}

.add-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: rgb(21, 111, 21);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label {
    font-weight: 600;
    color: white;
}

.add-container input,
.add-container select,
.add-container button {
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    background-color: rgb(76, 142, 84);
    color: white;
}


button, .btn {
    background-color: rgb(49, 145, 49);
    color: white;
    border: solid 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
}

button:hover, .btn:hover,
input:hover {
    background-color: #3d8243;
}


.error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}


.table-container {
    margin: auto;
    padding: 18px;
    background-color: rgba(4, 102, 23, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.table-container th,
.table-container td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody th,
tbody td {
    background-color: rgb(85, 187, 85);
}


input[type="search"] {
    width: 25%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.search-form select {
    padding: 7px;
    width: 100px;
    border: 1px solid black;
    border-radius: 4px;
}

.search-form input[type="submit"] {
    padding: 7px 15px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(49, 145, 49);
    color: white;
    border: 1px solid black;
}


.header-container h1 {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(6, 181, 6);
    font-size: 40px;
}


a {
    text-decoration: none;
    color:rgba(76, 142, 84, 0.608);
}

a.btn {
    background-color: rgb(76, 142, 84);
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

a.btn:hover {
    background-color: rgb(49, 145, 49);
}

